@font-face {
font-family: Roboto;
src: url("../fonts/roboto/Roboto-Medium.ttf");
src: url("../fonts/roboto/Roboto-Bold.ttf");
}
html,body{
    margin:0;
    padding:0;
}
body {													/*базовые стили*/
    color: #283136;
    font-family: "Roboto-Medium",  sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-style: normal;
    background:white;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}		
.container{
	max-width: 1200px;
}
															/*мои стили*/
															/*стили для хедера обоих страниц*/
.header {
height: 436px;
background-color: #eee;
}	
.catalog-header{
height: 329px;
background-color: #eee;
}	
															/*стили для слайдера*/
.slider{
    display: block;
    width:880px;
    height:310px;
    margin: 28px 0 28px 160px;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
	position: absolute;
	top: 340px;
    left: 45%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    width:100%;
    height:310px;
	padding: 0 0 100px 0;
}
.slide-text{
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
	padding: 28px 0 28px 0;
}
.slide-text p{
	margin: 0 0 33px 0;
	line-height: 1.667;
}
.slide .btn{
	border-radius: 3px;
	border: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	padding: 12px 70px;
}
.slide .btn:active{
	padding: 9px 70px 12px;
}
.slide:nth-child(1){
    background-image:url("../img/slider-bg.png");
    background-repeat:no-repeat;
    background-position:100% 13px;
}
.slide:nth-child(2){
    background-image:url("../img/slider-bg-2.png");
    background-repeat:no-repeat;
    background-position:100% 22px;
}
.slide:nth-child(3){
    background-image:url("../img/slider-bg-3.png");
    background-repeat:no-repeat;
    background-position:100% 2px;
	height: 310px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}							
															/*стили для слайдера - конец*/
															/*стили для навигации меню*/
	.nav{
	float: left;
	margin-top: 45px;
	}
	.logo{
	margin: 27px 142px 0 160px;
	float: left;
	}
		.nav-link{
		list-style: none;
		float: left;
		margin: 0 45px 0 0;
		}
		.active{
		border-bottom: 2px solid #fb565a;
		padding-bottom: 8px;
		}
		.basket{
		margin-left: 22px;
		background-image: url("../img/cart.png");
		background-repeat: no-repeat;
		background-position: 0 10px 0 0;
		padding-left: 28px;
		}
		.basket:hover{
		background-image: url("../img/cart-hover.png");
		}
		.basket:active{
		background-image: url("../img/cart-active.png");
		}
		.nav-a{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-size: 14px;
		font-family: "Roboto-Medium",  sans-serif;
		}
		.nav-a:hover{
		color: #fb565a;
		}
		.nav-a:active{
		color: #a8a8a8;
		}
		.title{
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		text-align: center;
		font-size: 40px;
		font-family: "Roboto-Medium",  sans-serif;
		line-height: 1.2;
		margin: 62px 0 0 270px;
		float: left;
		}													/*стили для хедера - конец  */
															/*   ЗАВЕРШЕНО   */
															/*   стили тела сайта   */
.services{
	margin: 81px 160px 73px;
	padding-bottom: 380px;
	border-bottom: 2px solid #eee;
}
.services-block{
	margin-right: 80px;
	float: left;
	width: 240px;
	height: 299px;
}
.services-block:last-child{
margin-right: 0;
}
.service-btn{
	margin-top: 32px;
	width: 140px;
  height: 26px;
	border-radius: 3px;
	border: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding-top: 12px;
}
.service-btn:active{
	padding-top: 9px;
}
.red{
	background-color: #fb565a;
}
.red:hover{
	background-color: #d6494d;
}
.red:active{
	background-color: #b63538;
	border-top: 3px solid #9b2d30;
}
.green{
	background-color: #00ca74;
}
.green:hover{
	background-color: #01a25e;
}
.green:active{
	background-color: #009053;
	border-top: 3px solid #007b47;
}
.yellow{
	background-color: #efc84a;
}	
.yellow:hover{
	background-color: #d6ae2c;
}	
.yellow:active{
	background-color: #c09b24;
	border-top: 3px solid #a3841f;
}	
.services-p{
	color: #283136;
	font-size: 15px;
	font-family: "Roboto-Medium",  sans-serif;
  text-align: left;
  width: 232px;
  height: 38px;
	margin-bottom: 32px;
	line-height: 1.667;
}			
.services-h2{
	margin: 20px 0 5px -2px;
	color: black;
	font-size: 18px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 1.667;
  text-align: left;
}
.about{
	margin: 0 0 0 160px;
	border-bottom: 2px solid #eee;
	width: 880px; 
	padding-bottom: 77px;
}
.about-us{
	float: left;
}
.about-us-h1{
  font-size: 36px;
  font-family: "Roboto-Medium",  sans-serif;
  color: black;
  text-align: left;
	margin: 0 0 18px 0;
	line-height: 1;
}
.about-us-h2{
	font-size: 15px;
  font-family: "Roboto-Medium",  sans-serif;
  color: #283136;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}
.red-line-li{
	font-size: 15px;
  font-family: "Roboto-Medium",  sans-serif;
  color: #283136;
	line-height: 1;
	padding-left: 37px;
	list-style: none;
	background-image: url("../img/red-line.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
	margin: 0 0 30px -40px;
}
.red-line-li:nth-child(3n){
	margin-bottom: 0;
}
.about-us-text{
	font-size: 16px;
  font-family: "Roboto-Medium",  sans-serif;
  color: #283136;
  text-align: left;
	line-height: 1.5;
	margin: 0 0 43px 0;
}
.how-work{
	float: right;
}
.since-logo{
	margin: -14px 0 0 30px;

}
.date{
	margin: 31px 0 70px;
	width: 240px;
	background: url("../img/grey-line.png") repeat-x 0 6px;
	z-index: 10;
}
.date-text{
	padding: 0 14px 0;
	margin: 0 62px 0;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto-Black", sans-serif;
	background-color: white;
	width: 90px;
	z-index: 100;
}
.how-we-work-h2{	
	font-size: 15px;
  font-family: "Roboto-Medium", sans-serif;
  color: #283136;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 30px;
}
.partner-logos{
	width: 880px;
	margin: 0 0 85px 160px;
	border-bottom: 2px solid #eee;
}
.partner-logo{
	background-repeat: no-repeat;
	float: left;
}
.glukhanko{
	margin: 67px 120px 62px 12px;
	height: 37px;
	width: 198px;
	background-image: url("../img/glukhanko.png");
}
.glukhanko:hover{
	background-image: url("../img/glukhanko-hover-active.png");
}
.glukhanko:active{
	background-image: url("../img/glukhanko-hover-active.png");
}
.academy{
	margin: 55px 120px 43px 0;
	height: 68px;
	width: 199px;
	background-image: url("../img/academy.png");
}
.academy:hover{
	background-image: url("../img/academy-hover-active.png");
}
.academy:active{
	background-image: url("../img/academy-hover-active.png");
}
.borodinsky{
	margin: 45px 0 31px 0;
	height: 90px;
	width: 210px;
	background-image: url("../img/borodinsky.png");
}
.borodinsky:hover{
	background-image: url("../img/borodinsky-hover-active.png");
}
.borodinsky:active{
	background-image: url("../img/borodinsky-hover-active.png");
}
.map{
	height: 416px;
}
.contacts{
	width: 250px;
	height: 240px;
	position: relative;
	left: 160px;
	top: -335px;
	background-color: white;
}
.contacts-h3{
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto-Medium", sans-serif;
	color: black;
	padding: 27px 0 25px 21px;
	margin: 0;
	
}
.contacts-text{
	color: #666;
	font-size: 16px;
	font-family: "Roboto-Medium", sans-serif;
	margin: 0 0 34px 21px;
	line-height: 1.2;
}
.contacts-btn{
	margin: 34px 0 26px 23px;
	width: 204px;
  height: 26px;
	border-radius: 3px;
	border: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 12px 0 0 0;
}
.contacts-btn:active{
	padding-top: 9px;
}
.form{
	width: 630px;
	height: 416px;
	box-shadow: 0 20px 40px 0 #000101;
	margin:0;
	position: absolute;
	top: 1588px;
	left: 310px;
	background-color: white;
	display: none;
	z-index: 100;
}
.cross{
	float: right;
	display: block;
	width: 41px;
	height: 41px;
	background-image: url("../img/close.png");
	margin: 6px 6px 0 0;
	cursor: pointer;
}	
.cross:hover .form{
opacity: 0;
}
.contacts-btn:hover .form{
opacity: 1;
}
.form-p{
	color: black;
	text-align: center;
	font-size: 16px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	display: inline;
}
	.form-text{
	height: 38px;
	width: 202px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	margin: 13px 0 0 0;
	text-transform: uppercase;
	color: black;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
	font-size: 12px;
	}
	.write-us-block{
	display: inline-block;
	width: 220px;
	height: 70px;
	}
	.textarea{
	width: 452px;
	height: 101px;
	padding: 10px 10px 14px;
	}
	.form-text{
	padding: 0 10px;
	}
	.form-text:hover{
	border: 2px solid #a2a9ac;
	}
	.form-text:focus{
	border: 2px solid #56bffb;
	}
	.name{
	float: left;
	margin: 54px 0 13px 81px;
	}
	.mail{
	float: right;
	margin: 53px 32px 13px 0;
	}
	.comment{
	margin: 13px 0 48px 81px;
	float: left;
	display: inline;
	}
	.form-btn{
	width: 476px;
  height: 38px;
	margin: 0 0 49px 81px;
	border-radius: 3px;
	border: none;
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	}
	.filters{
	margin: 81px 0 0 160px;
	float: left;
	width: 240px;
	}
.range-filter {
	float: left;
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 145px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.grid, .specials{
	float: left;
}	
.custom-radio, .custom-box{
	display: block;
	padding: 0 0 22px;
}
.custom-radio:last-child, .custom-box:last-child{
	padding: 0;
}
.radio-text, .box-text{
	padding: 6px 0 6px 35px;
}
.custom-radio input{
  width: 0;
	height: 0;
}
.custom-radio input+span{
	height: 18px;
	background: url("../img/radio-unchecked.png") no-repeat;
	margin: 0 0 17px;
}
.custom-radio input+span:hover{
	background: url("../img/radio-unchecked-hover.png") no-repeat;
}
.custom-radio input:checked+span{  
	background: url("../img/radio-checked.png") no-repeat;
}
.custom-radio input:checked+span:hover{  
	background: url("../img/radio-checked-hover.png") no-repeat;
}
.custom-box input{
  display: none;
}
.custom-box input+span{
	height: 16px;
	background: url("../img/checkbox-unchecked.png") no-repeat;
	margin: 0 0 17px;
}
.custom-box input:checked+span{  
	background: url("../img/checkbox-checked.png") no-repeat;
}
.custom-box input:checked+span:hover{  
	background: url("../img/checkbox-checked-hover.png") no-repeat;
}
.filters-tag{
	color: black;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	font-size: 18px;
	float: left;
	width: 240px;
	margin: 35px 0 31px;
}
.filters-tag:first-child{
margin: 0 0 31px;	
}
	.filter-btn{
	width: 155px;
  height: 38px;
	border-radius: 3px;
	border: none;
	color: black;
	text-align: center;
	font-size: 11px;
	padding: 0; 
	font-family: "Roboto-Bold",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	background-color: #f1f1f1;
	outline: none;
	margin: 40px 0 0;
	}
	.filter-btn:hover{
	background-color: #e5e5e5;
	}
	.filter-btn:active{
	background-color: #d5d5d5;
	border-top: 3px solid #b5b5b5;
	padding: 0 0 3px 0;
	}
	.sort-by{
	margin: 67px 160px 0 0;
	float: right;
	height: 17px;
	width: 560px;
	color: black;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
}
.sort, .how-sort li{
	display: inline-block;
	list-style: none;
	float: left;
}
.sort-type{
	text-decoration: none;
	float: left;
	margin: 0 0 0 45px;
	color: #c9c9c9;
	border-bottom: 1px dotted #00ca74;
	padding: 0 0 4px;
}
.sort-type:hover{
	border-bottom: 1px solid #00ca74;
	color: black;
}
.sort-type:active{
	border-bottom: none;
	color: black;	
}
.arrows{
	height: 11px;
	width: 28px;
	display: inline-block;
	float: right;
}
.arrow{
	display: inline-block;
	height: 11px;
	width: 10px;
	background: url("../img/arrow.png") no-repeat;
}
.arrow:hover{
	background: url("../img/arrow-hover-active.png") no-repeat;
}
.arrow:active{
	background: url("../img/arrow-hover-active.png") no-repeat;
}
.down{
	transform: rotate(180deg);
	background: url("../img/arrow-working.png") no-repeat;
}
.examples{
	float: left;
	margin: 75px 0 0 80px;
	width: 560px;
}
.example:hover .item-header{
background: url("../img/item-header-hover.png") no-repeat;
}
	.example{
	width: 240px;
	height: 220px;
	padding: 20px 0 0;
	background: none;
	margin: 0 0 80px;
	float: left;
	}
	.example:nth-child(2n){
	margin: 0 0 80px 80px;
	}
	.item-header{
	background: url("../img/item-header.png") no-repeat;
	width: 240px;
	height: 30px;
	margin: -49px 0 20px;
	display: block;
	}
	.example-text{
	margin: 0 20px 20px;
	width: 200px;
	height: 200px;
	display: block;
	opacity: 0;
	background-color: white;
	}
	.example:hover .example-text{
	opacity: 1;
	}
	.example-h3{
	margin: 36px 0 0 63px;
	color: black;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	float: left;
	line-height: 1.4;
	}
	.example-p{
	margin: 10px 0 31px 22px;
	padding: 0;
	height: 30px;
	width: 157px;
	float: left;
	text-align: center;
	font-size: 14px;
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	display: block;
	}
	.example-btn{
	margin: 0 0 30px 30px;
	width: 140px;
  height: 27px;
	border-radius: 3px;
	border: none;
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 11px 0 0 0; 
	font-family: "Roboto-Medium",  sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: left;
	outline: none;
	}
	.example-btn:active{
	padding: 8px 0 0 0;
	}
	.thai .example-h3{
	margin: 36px 15px 0;
	height: 44px;
	}
	.thai .example-p{
	margin: 8px 0 15px 20px;
	}
	.thai .example-btn{
	margin: 0 0 30px 30px;
	}
	.aviator{
	background: url("../img/aviator.jpg") no-repeat;
	}
	.sunset{
	background: url("../img/sunset.jpg") no-repeat;
	}
	.forte{
	background: url("../img/forte.jpg") no-repeat;
	}
	.thai{
	background: url("../img/thai.jpg") no-repeat;
	}
	.avenue{
	background: url("../img/avenue.jpg") no-repeat;
	}
	.dovetail{
	background: url("../img/dovetail.jpg") no-repeat;
	}
	.pages{
	width: 284px;
	height: 28px;
	padding: 13px 0 0;
	display: block;
	float: left;
	margin: 0 0 79px 480px;
	}
	.page{
	width: 34px;
	height: 34px;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;	
	background-color: #eee;
	border: 2px solid #eee;
	border-radius: 3px;
	}
	.page:active:not(.page-active){
	border-top: 3px solid #b5b5b5;
	}
	.page-active{
	background-color: white;
	}
											/*   стили тела сайта - конец  */
											/*   стили футера   */
	.footer{
	height: 216px;
	}
	.social-btn:first-child{
	margin-left: 160px;
	}
	.social-btn{
	margin: 78px 27px 0 0;
	float: left;
	display: inline-block;
	width: 62px;
	height: 62px;
	}
	.footer-text{
	float: left;
	margin:  50px 0 0 51px;
	}
	.footer-h1{
	color: black;
	text-align: center;
	font-size: 36px;
	font-family: "Roboto-Medium",  sans-serif;
	}
	.footer-p{
	margin: -12px 0 0 2px;
	}
	.vk{
	background: url("../img/vk.png");
	}
	.vk:hover{
	background: url("../img/vk-hover.png");
	}
	.vk:active{
	background: url("../img/vk-active.png");
	}
	.fb{
	background: url("../img/fb.png");
	}
	.fb:hover{
	background: url("../img/fb-hover.png");
	}
	.fb:active{
	background: url("../img/fb-active.png");
	}
	.inst{
	background: url("../img/inst.png");
	}
	.inst:hover{
	background: url("../img/inst-hover.png");
	}
	.inst:active{
	background: url("../img/inst-active.png");
	}
															/*   стили футера - конец   */